body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #0b0e27;
  color: #fff;
}

header {
  background-color: #1a1d3f;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition:
    opacity 0.5s ease,
    box-shadow 0.5s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2c2f33;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header ul li {
  margin: 0 15px;
}

header ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header ul li a:hover {
  color: #ff5b60;
  transform: scale(1.1);
}

header ul li .sign-up:hover {
  background-color: #ff3b40;
  transform: scale(1.1);
}


.header ul li a i {
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.nav-left,
.nav-right {
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li .sign-up {
  background-color: #ff5b60;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
body.popup-open {
  overflow: hidden;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.popup-content {
  background-color: #1a1d3f;
  position: relative;
  margin: 5% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 50%;
  height: auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {transform: translateY(-50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.popup-content h2 {
  margin-top: 0;
  color: #fff;
}

.popup-content label,
.popup-content input,
.popup-content button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.popup-content input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.popup-content button {
  background-color: #ff5b60;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #ff7878;
}

#first,
#second {
  display: flex;
  height: 100vh;
  position: relative;
  padding-top: 2rem;
}

#first {
  flex-direction: row;
}

.left-content {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin-left: 2rem;
  margin-top: -3rem;
}

.text-container {
  width: 45ch;
  overflow: hidden;
}

.animated-text {
  font-size: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid transparent;
  width: 45ch;
  animation: typing 3s steps(20, end);
  margin-bottom: 1rem;
}

.subtext {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.email-signup {
  display: flex;
  align-items: center;
  background-color: #042c54;
  border-radius: 5px;
  overflow: hidden;
  max-width: 400px;
}

.email-input {
  flex: 1;
  padding: 0.75rem;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  outline: none;
  padding-left: 1rem;
}

.email-input::placeholder {
  color: #cccccc;
}

.signup-button {
  background-color: #ff5b60;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0;
}

.right-content {
  flex: 0 0 63%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.what-we-do-container {
  background-color: #1a1d3f;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-do-content {
  margin-bottom: 2rem;
}

.what-we-do-content h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.what-we-do-content p {
  font-size: 1.2rem;
  color: #ccc;
}

.side-image {
  width: 20%;
  max-width: 200px;
  margin: 0 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.feature {
  background-color: #1a1d3f;
  padding: 2rem;
  border-radius: 5px;
  width: 80%;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.feature h3 {
  margin-top: 0;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #ff5b60;
  padding-bottom: 0.5rem;
}

.feature p {
  color: #ccc;
  font-size: 1rem;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
#what-we-do,
#blog {
  padding: 2rem 1rem;
}

.features {
  display: flex;
  justify-content: space-around;
}

.feature,.post  {
  background-color: #1a1d3f;
  padding: 1rem;
  border-radius: 5px;
  width: 30%;
}
#blog {
  padding: 2rem 1rem;
  border: #042c54 solid 1px;
  text-align: center;
}

#blog h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.blog-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.post-large {
  width: 60%;
  height: 60%;
  height: auto;
}

.small-posts {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 2rem;
}

.post {
  background-color: #1a1d3f;
  border-radius: 10px;
  height: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.post img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.post-content {
  padding: 1rem;
}

.post-date {
  font-size: 0.875rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.post h3 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.read-more {
  font-size: 1rem;
  color: #ff5b60;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #1a1d3f;
  text-align: center;
  padding: 1rem;
  position: relative;
}
select{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}
.tutoring-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem; /* Add bottom padding to create space before the footer */
}

.tutoring-item {
  display: flex;
  align-items: flex-start; /* Align items at the start */
  background-color: #1a1d3f;
  padding: 10px; /* Added padding to create space inside the tutoring box */
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tutoring-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tutoring-img {
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px; /* Margin between image and text */
  margin-top: 0; /* Remove any default margin */
}

.tutoring-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  flex: 1; /* Ensure it takes up the remaining space */
}

.tutoring-text h2 {
  font-size: 2rem;
  color: #fff;
  margin: 0; /* Remove default margin */
  padding-top: 0; /* Remove padding to align title with image */
}

.tutoring-text p {
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 10px; /* Space between title and text */
}
.announcement-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem; 
}

.announcement {
  display: flex;
  align-items: flex-start; 
  background-color: #1a1d3f;
  padding: 10px; 
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.announcement:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.announcement img {
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px; 
  margin-top: 0; 
}

.announcement-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  flex: 1;
}

.announcement h2 {
  font-size: 2rem;
  color: #fff;
  margin: 0; 
  padding-top: 0; 
}

.announcement p {
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 10px; 
}

.methods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem; /* Add bottom padding to create space before the footer */
}

.method-item {
  background-color: #1a1d3f;
  border-radius: 10px;
  width: 300px; /* Zwiększ szerokość prostokąta */
  height: 400px; /* Zwiększ wysokość prostokąta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.method-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.method-content {
  text-align: center;
  padding: 1rem;
  /* position: relative;
  margin-top: 2rem; Add top margin to create space from the announcements */
}

.method-content h2 {
  font-size: 1.8rem; /* Zwiększ rozmiar czcionki tytułu */
  color: #fff;
  margin: 0 0 15px 0; /* Zwiększ odstęp poniżej tytułu */
}

.method-img {
  width: 100%;
  height: 250px; /* Ustaw wysokość obrazu w prostokącie */
  border-radius: 10px;
  object-fit: cover;
}
footer {
  background-color: #1a1d3f;
  text-align: center;
  padding: 1rem;
  position: relative;
  margin-top: 2rem; /* Add top margin to create space from the announcements */
}